# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Virtual environments
env/
venv/
ENV/
QuranVerf/

# macOS
.DS_Store

# VS Code
.vscode/

# Data files (if large)
*.db
*.sql
# Keep canonical SQL dump
!Data/Tanzil_quran-uthmani.sql  

# PDF/Reports
*.pdf
..bfg-report/

# Streamlit
.streamlit/

# Logs & temp
*.log
*.tmp
*.bak
*.swp

# Environment and secrets
.env

# Docker backup scripts
save_image.sh
load_image.sh
docker_img_backup
*.tar